/* your styles go here */

body {
    font-size: 16px;
}

#heading-breadcrumbs {
  background: url('../img/hexagon.svg') repeat;
}

/*
.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}
*/

/* logo */

#navbar .hidden-xs,
#navbar .hidden-ms{
    min-height: 120px;
}

#navbar .hidden-xs img,
#navbar .hidden-ms img{
    margin-top: 10px;
    margin-bottom: 10px;
}

#navbar .visible-xs,
#navbar .visible-ms{
    min-height: 76px;
}

#navbar .visible-xs img,
#navbar .visible-ms img{
    margin-top: 0px;
    margin-bottom: 0px;
}

/* carousel */

#all .home-carousel {
  background: url('../img/network.svg') repeat;
}

#all .home-carousel .owl-item a{
  color: white;
}

/* features */

.bar {
    padding: 10px 0;
}

.box-simple {
  min-height: 200px;
}

.box-simple .fa {
  position: relative;
  top: 4px;
  font-size: 35px;
}

.box-simple a:hover{
  text-decoration: none;
}

/* testimonials */

.bar.background-pentagon {
  background: url('../img/hexagon.svg') repeat;
}

/* news and about */

h2 {
    color: #555555;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0.08em;
}

h3 {
    color: #555555;
    font-size: 22px;
}

/*
#blog-listing-medium .post .author-category,
#blog-listing-medium .post .date-comments{
    font-size: 16px;
}
*/

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
