/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

#navbar .navbar-header {
    min-height: 120px;
}

#navbar .navbar-header img {
    margin-top: 15px;
    margin-bottom: 15px;
}

#navbar .visible-xs,
#navbar .visible-ms{
    min-height: 60px;
}

#navbar .visible-xs img,
#navbar .visible-ms img{
    margin-top: 3px;
    margin-bottom: 3px;
}
