/* your styles go here */

body {
    font-size: 16px;
}

#heading-breadcrumbs {
  background: url('../img/texture-bw.png') repeat;
}

/*
.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}
*/

/* logo */

#navbar .hidden-xs,
#navbar .hidden-ms{
    min-height: 120px;
}

#navbar .hidden-xs img,
#navbar .hidden-ms img{
    margin-top: 10px;
    margin-bottom: 10px;
}

#navbar .visible-xs,
#navbar .visible-ms{
    min-height: 76px;
}

#navbar .visible-xs img,
#navbar .visible-ms img{
    margin-top: 0px;
    margin-bottom: 0px;
}

/* carousel */

#all .home-carousel {
  background: url('../img/network.svg') repeat;
}

#all .home-carousel .owl-item a{
    color: white;
}

/* features */

#all .bar {
    padding: 10px 0;
}

#all .box-simple {
  min-height: 220px;
}

#all .box-simple .fa {
    position: relative;
    top: 4px;
    font-size: 35px;
}

/* testimonials */

.bar.background-pentagon {
  background: url('../img/hexagon.svg') repeat;
}

